
# ORM - Mapeamento Objeto-Relacional (Object-relational mapping)


## Python
- [SQLAlchemy](https://www.sqlalchemy.org/)
- [Peewee](http://docs.peewee-orm.com/en/latest/)
- [The Django ORM](https://docs.djangoproject.com/en/4.1/topics/db/)
- [PonyORM](https://github.com/ponyorm/pony)
- Entre outros...

## Java
- [Hibernate](https://hibernate.org/)

## ORM x SQL

### - SQL
 - Vantagens
     - Maior velocidade de execução
     - Permite consultas complexas
     - Maior otimização de código
 - Desvantagens
     - Maior curva de aprendizado
     - Diferença no código SQL entre diferentes bancos

### - ORM
 - Vantagens
     - Desenvolvimento mais rápido
     - Não precisa ser expert em sql
     - Suporta diferentes bancos
 - Desvantagens
     - Menor velocidade de execução
     - Menor controle com a interface do banco

In [1]:
# !pip install sqlalchemy
# !pip install sqlalchemy_utils

import sqlalchemy, sqlalchemy_utils

In [2]:
sqlalchemy.__version__

'2.0.7'

## Conectando no banco de dados

In [23]:
from sqlalchemy_utils import database_exists, create_database

engine = sqlalchemy.create_engine("postgresql+psycopg2://postgres:123456@localhost:5432/empresa", echo=True)

if not database_exists(engine.url):
    create_database(engine.url)
else:
    engine.connect()

## Declarando Mapeamento

In [24]:
from sqlalchemy.orm import declarative_base

from sqlalchemy import Column, Integer, String

In [25]:
Base = declarative_base()

In [26]:
class Cliente(Base):
    
    __tablename__ = 'Clientes'
    
    id = Column(Integer, primary_key=True)
    nome = Column(String(20))
    nomecompleto = Column(String(50))
    idade = Column(Integer)
    
    def __repr__(self):
        return "<Cliente(nome={}, nome completo={}, idade={})>".format(self.nome, self.nomecompleto, self.idade)

## Criação de tabela no banco de dados

In [27]:
Base.metadata.create_all(engine)

2023-03-30 19:30:24,091 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-30 19:30:24,092 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-30 19:30:24,093 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-30 19:30:24,094 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-30 19:30:24,095 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-30 19:30:24,096 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-30 19:30:24,097 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-30 19:30:24,099 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-03-30 19:30:24,099 INFO sqlalchemy.engine.Engine [generated in 0.00048s] {'table_name': 'Clientes', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-03-30 19:30:24,101 INFO sqlalchemy.engine.Engine
CREATE TABLE "Clientes" (
	id SERIAL NOT NULL,
	nome VARCHAR(20),
	nomecompleto VARCHAR(50),
	idade INTEGER,
	PRIMARY KEY (id)
)


2023-03-30 19:30:24,101 INFO sqlalchemy.engine.Engine [no key 0.00038s] {}
2023-03-30 19:30:24,105 INFO sqlalchemy.engine.Engine COMMIT

## Criando instâncias no Banco de Dados

In [28]:
cliente = Cliente(nome="Franciscano", nomecompleto="Franciscano Odoviraldo", idade="15")

In [31]:
str(cliente.id)

'None'

## Criando uma sessão

In [32]:
from sqlalchemy.orm import sessionmaker

In [33]:
Session = sessionmaker(bind=engine)
Session

sessionmaker(class_='Session', bind=Engine(postgresql+psycopg2://postgres:***@localhost:5432/empresa), autoflush=True, expire_on_commit=True)

In [34]:
session = Session()

## Adicionar Objetos ao Banco de Dados (INSERT)

In [35]:
session.add(cliente)

In [36]:
session.commit()

2023-03-30 19:33:57,889 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-30 19:33:57,891 INFO sqlalchemy.engine.Engine INSERT INTO "Clientes" (nome, nomecompleto, idade) VALUES (%(nome)s, %(nomecompleto)s, %(idade)s) RETURNING "Clientes".id
2023-03-30 19:33:57,892 INFO sqlalchemy.engine.Engine [generated in 0.00072s] {'nome': 'Franciscano', 'nomecompleto': 'Franciscano Odoviraldo', 'idade': '15'}
2023-03-30 19:33:57,894 INFO sqlalchemy.engine.Engine COMMIT

In [37]:
session.add_all(
    [
        Cliente(nome="Aluvirualdo", nomecompleto="Aluvirualdo Mantena", idade="25"),
        Cliente(nome="Larilda", nomecompleto="Larilda Marilda", idade="45"),
        Cliente(nome="Alex", nomecompleto="Alex Alexandre", idade="12")
    ]
)

In [38]:
session.new

IdentitySet([<Cliente(nome=Aluvirualdo, nome completo=Aluvirualdo Mantena, idade=25)>, <Cliente(nome=Larilda, nome completo=Larilda Marilda, idade=45)>, <Cliente(nome=Alex, nome completo=Alex Alexandre, idade=12)>])

In [39]:
session.commit()

2023-03-30 19:40:41,204 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-30 19:40:41,207 INFO sqlalchemy.engine.Engine INSERT INTO "Clientes" (nome, nomecompleto, idade) VALUES (%(nome__0)s, %(nomecompleto__0)s, %(idade__0)s), (%(nome__1)s, %(nomecompleto__1)s, %(idade__1)s), (%(nome__2)s, %(nomecompleto__2)s, %(idade__2)s) RETURNING "Clientes".id
2023-03-30 19:40:41,208 INFO sqlalchemy.engine.Engine [generated in 0.00009s (insertmanyvalues)] {'idade__0': '25', 'nomecompleto__0': 'Aluvirualdo Mantena', 'nome__0': 'Aluvirualdo', 'idade__1': '45', 'nomecompleto__1': 'Larilda Marilda', 'nome__1': 'Larilda', 'idade__2': '12', 'nomecompleto__2': 'Alex Alexandre', 'nome__2': 'Alex'}
2023-03-30 19:40:41,212 INFO sqlalchemy.engine.Engine COMMIT

## Consultar objetos (SELECT)

In [49]:
query_cliente = session.query(Cliente).filter_by(nome="Larilda").first()

2023-03-30 19:46:41,930 INFO sqlalchemy.engine.Engine SELECT "Clientes".id AS "Clientes_id", "Clientes".nome AS "Clientes_nome", "Clientes".nomecompleto AS "Clientes_nomecompleto", "Clientes".idade AS "Clientes_idade"
FROM "Clientes"
WHERE "Clientes".nome = %(nome_1)s
 LIMIT %(param_1)s
2023-03-30 19:46:41,933 INFO sqlalchemy.engine.Engine [cached since 266.4s ago] {'nome_1': 'Larilda', 'param_1': 1}

In [51]:
query_cliente.nomecompleto

'Larilda Marilda'

In [53]:
for instance in session.query(Cliente).order_by(Cliente.id):
    print(instance.nome, instance.nomecompleto, instance.idade)

2023-03-30 19:48:00,174 INFO sqlalchemy.engine.Engine SELECT "Clientes".id AS "Clientes_id", "Clientes".nome AS "Clientes_nome", "Clientes".nomecompleto AS "Clientes_nomecompleto", "Clientes".idade AS "Clientes_idade"
FROM "Clientes" ORDER BY "Clientes".id
2023-03-30 19:48:00,176 INFO sqlalchemy.engine.Engine [cached since 19.86s ago] {}
Franciscano Franciscano Odoviraldo 15
Aluvirualdo Aluvirualdo Mantena 25
Larilda Larilda Marilda 45
Alex Alex Alexandre 12

In [54]:
for instance in session.query(Cliente.nome, Cliente.idade).filter_by(nome="Alex"):
    print(instance.nome, instance.idade)

2023-03-30 19:48:55,427 INFO sqlalchemy.engine.Engine SELECT "Clientes".nome AS "Clientes_nome", "Clientes".idade AS "Clientes_idade"
FROM "Clientes"
WHERE "Clientes".nome = %(nome_1)s
2023-03-30 19:48:55,429 INFO sqlalchemy.engine.Engine [generated in 0.00238s] {'nome_1': 'Alex'}
Alex 12

## Modificando Objets (UPDATE)

In [57]:
cliente.nomecompleto

'Franciscano Odoviraldo'

In [58]:
cliente.nomecompleto = "Franciscano Toscano"

In [59]:
cliente

In [60]:
session.dirty

IdentitySet([<Cliente(nome=Franciscano, nome completo=Franciscano Toscano, idade=15)>])

In [61]:
session.commit()

2023-03-30 19:51:19,853 INFO sqlalchemy.engine.Engine UPDATE "Clientes" SET nomecompleto=%(nomecompleto)s WHERE "Clientes".id = %(Clientes_id)s
2023-03-30 19:51:19,854 INFO sqlalchemy.engine.Engine [generated in 0.00132s] {'nomecompleto': 'Franciscano Toscano', 'Clientes_id': 1}
2023-03-30 19:51:19,856 INFO sqlalchemy.engine.Engine COMMIT

## Deletar objetos (DELETE)

In [62]:
cliente

2023-03-30 19:51:48,940 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-30 19:51:48,944 INFO sqlalchemy.engine.Engine SELECT "Clientes".id AS "Clientes_id", "Clientes".nome AS "Clientes_nome", "Clientes".nomecompleto AS "Clientes_nomecompleto", "Clientes".idade AS "Clientes_idade"
FROM "Clientes"
WHERE "Clientes".id = %(pk_1)s
2023-03-30 19:51:48,945 INFO sqlalchemy.engine.Engine [generated in 0.00140s] {'pk_1': 1}

In [63]:
session.delete(cliente)

In [65]:
session.commit()

2023-03-30 19:52:28,198 INFO sqlalchemy.engine.Engine DELETE FROM "Clientes" WHERE "Clientes".id = %(id)s
2023-03-30 19:52:28,201 INFO sqlalchemy.engine.Engine [generated in 0.00254s] {'id': 1}
2023-03-30 19:52:28,203 INFO sqlalchemy.engine.Engine COMMIT

In [68]:
cliente = session.query(Cliente).filter_by(nome='Franciscano').count()
cliente

2023-03-30 19:53:25,819 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "Clientes".id AS "Clientes_id", "Clientes".nome AS "Clientes_nome", "Clientes".nomecompleto AS "Clientes_nomecompleto", "Clientes".idade AS "Clientes_idade"
FROM "Clientes"
WHERE "Clientes".nome = %(nome_1)s) AS anon_1
2023-03-30 19:53:25,821 INFO sqlalchemy.engine.Engine [cached since 13.53s ago] {'nome_1': 'Franciscano'}

0